#detailCard{
    position: relative;
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    top: 100px;

}

#detailCard > h3{

    position: relative;
    bottom: 170px;
    color: black;


}

h3{

    font-weight: 700;
}

#imgDetails{

    position: relative;
    bottom: 160px;
    width: 200px;

}

#pokeType{
    position: relative;
    bottom: 200px;
    color: black;
    display: inline-block;
    justify-content: space-between;
    gap: 20px;
}

#typeElement > h4{
    position: relative;
    color: black;
    bottom: 170px;
}


#typeElement{
    position: relative;
    display: inline-block;
    justify-content: space-between;
    gap: 20px;
}


#abilitiesElement > h4{
    color: black;
    position: relative;
    bottom: 170px;

}

#abilitiesElement > p {
    position: relative;
    display: inline-block;
    justify-content: space-between;
    gap: 20px;
    color: black;
    bottom: 200px;
}

#arrow_left{
    color: black;
}

#logo{
    width: 200px;
}


#increment > p{
    position: relative;
    color: black;
    display: inline-block;
    justify-content: space-between;
    margin: 200px;
}

#search_block{
    outline: 0;
    float: left;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;   
    position: relative;
    bottom: 100px; 
    
}

#search_block > input{
    outline: 0;
    height: 42px;
    width: 244px;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

#search_block > button{
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    float: left;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}   
